




/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .container {
  position: relative;
  z-index: 10;
}

.about .content {
  padding: 30px 30px 30px 0;
}

@media (max-width: 768px){
    .about .content iframe{
      max-width: 95%;
    }
}

@media (max-width: 720px){
  .about #ytbvideo{
    width: 100%;
    height: 200px;
  }
}

.about .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.about .content p {
  margin-bottom: 30px;
}

.about .content .about-btn {
  padding: 8px 30px 9px 130px;
  color: #fff;
  border-radius: 50px;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  border: 2px solid #e03a3c;
}

@media  (max-width: 768px){
  .about .content .about-btn{
    padding: 8px 30px 9px 50px;
  }
}

.about .content .about-btn i {
  font-size: 16px;
  padding-left: 15px;
}

.about .content .about-btn:hover {
  background: #e35052;
  background: #e03a3c;
}

.about .icon-boxes .icon-box {
  margin-top: 30px;
}

.about .icon-boxes .icon-box i {
  font-size: 40px;
  color: #e03a3c;
  margin-bottom: 10px;
}

.about .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.about .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}

@media (max-width: 1200px) {
  .about .content {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .about {
    text-align: center;
  }
}



/* BONUS2 */

#bonus2 #imgbonus2{
  width: 100%;
}

#bonus2 i{
  color: yellow;
}

#bonus2 p{
  line-height: 5px;
}

#bonus2 .icon-box{
  margin-top: -10%;
}







#titulomobile{
  display: none;
}

#titulodesktop{
  display: inline;;
}

#ancoramobile{
  display: none;
}

#ancoradesktop{
  display: inline;
}


@media (max-width:720px){
  #titulomobile{
    display: inline;
  }

  #titulodesktop{
    display: none;
  }

  #ancoramobile{
    display: inline;
  }

  #ancoradesktop{
    display: none;
  }
}

